#uom-logo {
    padding:20px;
    width:100%;
}

#uom-logo, #ucl-logo {
    display: block;
    margin: 0 auto;
}

.text_col_black {
    color: black !important;
}

#bar-chart{
    width:100%;
    height:250px;
}

#page-mask {
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:black;
    opacity:0.5;
}

#creat-calc{
    position:absolute;
    top:2%;
    left:10%;
    width:45%;
    height:auto;
    display: none;
    z-index:9999;
}

#creat-calc-left-column{
    float: left;
    width: 50%;
}

#creat-calc-right-column{
    float: right;
    width: 50%;
}

#result{
    font-size: x-large;
}

#bmi-calc {
    display: none; /* Ensure it is hidden by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: auto;
    border: 1px solid black;
}

#bmiResult {
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
}

#about-box{
    position:absolute;
    top:2%;
    left:10%;
    width:45%;
    height:auto;
    display: none;
    z-index:9999;
}

#input-group-select
{
    width:30%;
}

.last-row {
    width:100%;
    padding-left:12px;
}
/* Sidebar Customization */
.sidebar {
  background: linear-gradient(180deg, #1d70b8, #a31d5a); /* UCL Colors */
  color: #fff !important; /* Ensure white text */
}

/* Button Customization */
.btn-primary {
  background-color: #1d70b8 !important; /* UCL Blue */
  border-color: #1d70b8 !important;
  color: #fff !important;
}

.btn-primary:hover {
  background-color: #155a99 !important; /* Darker UCL Blue */
}

.btn-secondary {
  background-color: #a31d5a !important; /* UCL Pink */
  border-color: #a31d5a !important;
  color: #fff !important;
}

.btn-secondary:hover {
  background-color: #8f194d !important; /* Darker UCL Pink */
}

/* Dark Mode for Body */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

/* Dark Mode for Sidebar */
.sidebar.dark-mode {
    background: linear-gradient(180deg, #333333, #444444);
}

/* Dark Mode for Buttons */
.btn-primary.dark-mode {
    background-color: #3333cc;
    border-color: #3333cc;
}

.btn-secondary.dark-mode {
    background-color: #882266;
    border-color: #882266;
}

/* Dark Mode for Cards */
.card.dark-mode {
    background-color: #1e1e1e;
    color: #e0e0e0;
    border: 1px solid #444444;
}

